<div class="sign-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
        <h1>Sign in to AVL Vehicle App</h1>
        <app-form-input name="Username" id="username" type="text" [showWarning]="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)" [control]="loginForm.controls.username"></app-form-input>
        <app-form-input name="Password" id="password" type="password" [showWarning]="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)" [control]="loginForm.controls.password"></app-form-input>
        <app-button styleClass="p-button-success" text="Sign in" type="submit" ></app-button>
    </form>
</div><!-- [disabled]="!loginForm.valid" -->